################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/lands2/lands2/obj
/lands2/lands2.Android/obj

/lands2/lands2/bin/Debug/netstandard2.0
/lands2/lands2.Android/bin/Debug
